*{
    margin: 10;
    padding-left: 0ch;
    box-sizing: border-box;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .wrapper{
margin-left: 520px;
padding-top: 10px;



}
.nb{
  margin-bottom: 20px;
}
.cd{
    margin-bottom: 20px;
}
.pr{
    margin-bottom: 20px;
}
.prc{
    margin-bottom: 20px;
}
.des{
    margin-bottom: 20px;
    
}
.desc{
    margin-bottom: 20px;
    height: 40px;
}

    h1{
        text-align: center;
        margin-bottom: 80px;
    }
    .cantidad{
margin-right: 80px;
margin-top: 10px;
position: relative;
margin-bottom: 50px;

    }
    .precioa{
        margin-right: 42px; 
        
    }
    .precioac{
        margin-right: 53px; 
    }
   .descuento{
    margin-right: 51px; 
   }
   .desc{
    margin-right: 60px; 
   }
   .img{
    margin-right: 30px;  
   }
   .prod{
    margin-left: 480px;  
    margin-top: 20px;
    background-color: rgb(249, 250, 249);
   }
   i{
    position: absolute;
   margin-left: 240px;
    margin-top: 10px;
    font-size: 70px;
   }
   

/*body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background: url("https://i.imgur.com/HgflTDf.jpg") 50% fixed;
  background-size: cover;
}*/

 