*{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    height: 100px;
    background: linear-gradient(to right, #2ae477, #17c8e7);
    padding-top: 20px;
    box-shadow:  5px 5px 5px rgb(250, 252, 250);    
}
header h1{
    color: rgb(14, 13, 13);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(17, 17, 17);
}
i{
    position:absolute;
    margin-left: 10px;
    margin-top: -70px;
    font-size: 70px;

}

h1{
text-align: center;
}
    .producto1 {
        border-style: solid;
        width: 300px;
        height: 200px;
        display: inline-block;
        margin-left: 70px;
        margin-right:2px;
        padding: 40px;
        margin-top: 20px;
       
    }
    .producto2{
        border-style: solid;
        width: 300px;
        height: 200px;
        display: inline-block;
        margin-left: 70px;
        margin-right: 2px;
        padding: 40px;
        margin-top: 20px;
    }
   
    .producto3{
        border-style: solid;
        width: 300px;
        height: 200px;
        display: inline-block;
        margin-left: 70px;
        margin-right: 2px;
        padding: 40px;
        margin-top: 20px;
    }
    .producto4{
        border-style: solid;
        width: 300px;
        height: 200px;
        display: inline-block;
        margin-left: 70px;
        margin-right: 2px;
        padding: 40px;
        margin-top: 20px;
    }

    .producto5{
        border-style: solid;
        width: 300px;
        height: 200px;
        display: inline-block;
        margin-left: 70px;
        margin-right: 2px;
        padding: 40px;
        margin-top: 20px;
 
    }
    .producto6{
        border-style: solid;
        width: 300px;
        height: 200px;
        display: inline-block;
        margin-left: 70px;
        margin-right: 2px;
        padding: 40px;
        margin-top: 20px;
    }
    .producto7{
        border-style: solid;
        width: 300px;
        height: 200px;
        display: inline-block;
        margin-left: 70px;
        margin-right: 2px;
        padding: 40px;
        margin-top: 20px;
    }
    .producto8{
        border-style: solid;
        width: 300px;
        height: 200px;
        display: inline-block;
        margin-left: 70px;
        margin-right: 2px;
        padding: 40px;
        margin-top: 20px;
    }
    .producto9{
        border-style: solid;
        width: 300px;
        height: 200px;
        display: inline-block;
        margin-left: 70px;
        margin-right: 2px;
        padding: 40px;
        margin-top: 20px;
    }
    .carrito{
    position: absolute;
    margin-left: -100px;
    margin-top: -92px;
    
    }
   article{
background-color: rgb(61, 220, 248);  
}

input{
    background-color:rgb(17, 243, 17);
    margin-left: 30px;
    width: 100px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
      border: 1px solid green;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width:700px) and (max-width: 1199px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
      border: 1px solid green;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
  }
  /********** pequeño devices only **********/
  @media (min-width:50px) and (max-width: 699px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
      border: 1px solid green;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
  }